
<div class ="jumbotron">
<h1>Welcome to the RecipeBox!</h1>
</div>
<p>@Html.ActionLink("See all tags", "Index", "Tags")</p>
<p>@Html.ActionLink("See all recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("See all ingredients", "Index", "Ingredients")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
